
$color-primary: #1AAAB2;
$color-secondary: #035257;
$color-neutral: #464646;
$font-family-base: "Poppins", sans-serif;
$font-size-base: 14px;
$font-size-min: 12px;
$font-weight-normal: 400;
$font-weight-bold: 700;
