@import "src/app/variables.scss";

.container {
  padding: 0px 36px 100px;
  height: 100vh;
}
.content {
  display: flex;
}

hr {
  border-top: 1px solid #bdbdbd;
}

.btn {
  display: flex;
  justify-content: center;
}

.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 40%;
  display: block;
  background-color: #f4f4f4;
  align-content: center;
  background-color: white;
  padding: 16px;
}

.right {
  flex-direction: column;
  width: 100%;
  background-position: center;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.chart {
  align-self: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tittle {
  font-family: #{$font-family-base};
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  color: #464646;
  display: block;

  &-sub {
    font-family: #{$font-family-base};
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-top: 10px;
    max-width: 300px;
  }
}

.top-menu {
  text-align: center;
  justify-content: space-between;
  text-align: -webkit-center;
}

@media (max-width: 768px) {
  .btn {
    display: block;
  }

  .left {
    display: none;
  }
}
