<div class="container">
  <div class="navs">
    <app-menu-list
      firstSvgUrl="back-arrow"
      menuName="MEU PLANO"
      secondSvgUrl=""
    ></app-menu-list>
  </div>

  <div class="content">
    <div class="left">
      <div class="top-menu">
        <img src="./../../../assets/images/perfil.png" width="45px" />
        <span class="tittle">Meu Plano</span>
        <span class="tittle-sub">O que você quer fazer?</span>
      </div>
      <app-menu-list
        *ngFor="let menu of mockMenu"
        firstSvgUrl="{{ menu.firstSvgUrl }}"
        menuName="{{ menu.textContent }}"
        secondSvgUrl="arrow"
      >
      </app-menu-list>
    </div>

    <div class="right">
      <div class="columns">
        <div class="chart">
          <span class="tittle-sub">Total em contribuições</span>
          <span class="tittle">R$ 600,00</span>
        </div>

        <div class="right-bottom">
          <div class="card-list">
            <hr />
            <app-card
              *ngFor="let card of mockCardContent"
              [mockCardContent]="card"
              style="margin: 20px"
            ></app-card>
          </div>
          <div class="btn">
            <app-button
              [textContent]="'INCLUIR CONTRIBUIÇÃO'"
              [class]="'btn btn-primary'"
              style="text-align: -webkit-center"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
