<li>
  <div class="text-and-icon">
    <div
      [style.mask-image]="'url(./../../../assets/images/menu-list/' + firstSvgUrl + '.svg)'"
      [style.webkit-mask-image]="'url(./../../../assets/images/menu-list/' + firstSvgUrl + '.svg)'"
      class="icon-arrow"
    ></div>
    <span style="margin-left: 8px">{{menuName}}</span>
  </div>

  <div
    [style.mask-image]="'url(./../../../assets/images/menu-list/' + secondSvgUrl + '.svg)'"
    [style.webkit-mask-image]="'url(./../../../assets/images/menu-list/' + secondSvgUrl + '.svg)'"
    class="icon-arrow"
  ></div>
</li>
