@import "src/app/variables.scss";
.card {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  background-color: white;
  padding: 16px 16px;
}

li,
.text-content {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #{$color-neutral};
  font-family: #{$font-family-base};
  font-size: #{$font-size-base};
  font-weight: #{$font-weight-normal};
  line-height: 17.5px;
  list-style-type: none;
  margin-bottom: 16px;
  margin-top: 40px;
}

li:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 60px;
}

li .tittle {
  border-bottom: none; /* Remove a borda inferior do elemento com a classe .tittle */
}

.icon-arrow {
  background-color: #{$color-neutral};
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;

  &-primary {
    background-color: #{$color-primary};
  }

  .text-content {
    border-bottom: none !important;

  }
}

.alt-cont {
  font-family: #{$font-family-base};
  font-size: #{$font-size-base};
  color: #{$color-primary};
  font-weight: #{$font-weight-bold};
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 69px;
}
